@font-face {
    font-family: 'YuYang-01';
    src: url('./TsangerYuYangT_W01_W01.ttf');
}

@font-face {
    font-family: 'YuYang-02';
    src: url('./TsangerYuYangT_W02_W02.ttf');
}

@font-face {
    font-family: 'YuYang-03';
    src: url('./TsangerYuYangT_W03_W03.ttf');
}

@font-face {
    font-family: 'YuYang-04';
    src: url('./TsangerYuYangT_W04_W04.ttf');
}

@font-face {
    font-family: 'YuYang-05';
    src: url('./TsangerYuYangT_W05_W05.ttf');
}