@import './base.css';

html{
  /*background-color: #EBEDF0;*/
}

:root {
  --falcon-light-color: #e8e8e8;
  --falcon-medium-color: #adadad;
  --falcon-medium-dark-color: #858585;
  --falcon-dark-color: #4c4c4c;
  --falcon-border-color: #050505;
  --falcon-border-filter: drop-shadow(-5px 0 0 var(--falcon-border-color)) drop-shadow(0 -5px 0 var(--falcon-border-color)) drop-shadow(5px 0 0 var(--falcon-border-color)) drop-shadow(0 5px 0 var(--falcon-border-color));
}

#app {
  /*max-width: 1280px;*/
  margin-left: 10px;
  margin-right: 10px;
  /*margin: 0 auto;*/
  padding: 2rem;
  font-weight: normal;
  /*background: linear-gradient(#adadad, #adadad);*/
  /*height: 1600px;*/
  overflow: hidden;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
