html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

#app {
    width: 100%;
    height: 100%;
    font-weight: normal;
    overflow: hidden;
    background-color: rgb(250, 250, 250);
}
